<div class="block" id="section-2">          
  <div class="row-fluid leave-gap">              
    <div class="span12">
      <h2>Services</h2>
      <div class="section-content">
        <br />
        <div class="row-fluid">
          <div class="span6">
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading">We provide quality products</h4>
                We offer a wide range of services, from installation to serving coffee. All of our services are carried out by trained and experienced professionals who have a genuine passion. You can trust us to do nothing but the finest work for you.
              </div>
            </div>
            
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading">Other services</h4>
                We understand that everyone is different and there are many different choices you can make to suit whatever budget you have. We always keep you in the know, making sure that we are honest, efficient, and reliable.
              </div>
            </div>
          </div>
          
          <div class="span6">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Service</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Repair</td>
                  <td>&#163; 200</td>
                </tr>
                <tr>
                  <td>Installation</td>
                  <td>&#163; 300</td>
                </tr>
                <tr>
                  <td>Superfast delivery</td>
                  <td>&#163; 150</td>
                </tr>
                <tr>
                  <td>Tune up</td>
                  <td>&#163; 150</td>
                </tr>
                <tr>
                  <td>Coffee or Tea</td>
                  <td>&#163; 1.50</td>
                </tr>
              </tbody>
            </table>
            <p><small>* Terms and conditions - Prices may depend on many other factors. The table abouve provides an average price. Contact us for more information.</small></p>
          </div>
        </div>                                        
      </div>
    </div>              
  </div>                      
</div> <!-- end block --> 