<div class="row-fluid floating-boxes">    
  
  <a href="#" data-section="3" data-title="Check out how good our place looks and how we work" class="offset1 span3 floating-box">
  <h3>Gallery</h3>
  <p>Check out pictures of how good our place looks and how we work</p>
  </a>
  
  <a href="#" data-section="2" data-title="Browse or services and our prices" class="span3 floating-box">
  <h3>Services</h3>
  <ul>
    <li>Fast delivery times</li>
    <li>Free quote</li>
    <li>Cash or Credit Card.</li>
  </ul>
  </a>
  
  <a href="#" data-section="4" data-title="Find out what our customers have been saying" class="span3 floating-box">
  <h3>Testimonials</h3>
  <blockquote>
    <p>Hey guys, I have a big smile on my face now, so thank you so much!!</p>
    <small>Someone famous</small>
  </blockquote>
  </a>
  
</div><!--/floating-boxes-->    